.nbaDiv
{
    width: 100%;
    height: 848px;
    overflow: hidden;
    position: relative;
    overflow: hidden;
}

.nbaFrame
{
    position: absolute;
    top: -240px;
    width: 100%;
    height: 1240px;
    border:none;
    overflow: hidden;
}
